<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h1 class="text-center">WRX Trunk Swap</h1>
      <div class="swell">
        <h3 class="text-center">What would you like to do?</h3>
        <br>
        <div class="row-fluid">
          <div class="col-md-5 text-center">
            <a class="btn btn-success btn-lg" href="/offer" role="button">
              Make an Offer
            </a>
          </div>
          <div class="col-md-2 text-center">
          </div>
          <div class="col-md-5 text-center">
            <a class="btn btn-success btn-lg" href="/search" role="button">
              Search Offers
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>