<link rel="stylesheet" href="css/home.css">

<div class="box-grid">
  <div  class="single-box" id="offerBtn">
    <h2></h2>
    <h2 class="text-center">
    <img src="images/offer.svg" style="width: 150px; height: auto;"/>
    Offer Trunk
    </h2 class="text-center">
    <h4 class="text-center">List your trunk and get notified when there is a match.</h4>
  </div>
  <div ui-sref="search" class="single-box" id="searchBtn">
    <h2></h2>
    <h2 class="text-center">
    <img src="images/search.svg" style="width: 100px; height: auto;"/>
    Search Trunks
    </h2>
    <h4 class="text-center">Search our collection of listings to find the trunk you want.</h4>
  </div>
  <div ui-sref="help" class="single-box" id="helpBtn">
    <h2></h2>
    <h2 class="text-center">
    <img src="images/help.svg" style="width: 90px; height: auto;"/>
    How it works
    </h2>
    <h1></h1>
    <h4 class="text-center">Need some help getting started?</h4>
  </div>
  <div ui-sref="dash" class="single-box" id="dashBtn">
    <h2></h2>
    <h2 class="text-center">
    <img src="images/dashboard.svg" style="width: 180px; height: auto; margin-left: -20px;"/>
    Dashboard
    </h2>
    <h4 class="text-center">View your personal dashboard.</h4>
  </div>
</div>

<script>
  $('.single-box').click(function () {
    var slctd = $(this);
    slctd.attr('style','z-index: 100;');
    slctd.addClass('big');
    slctd.on('transitionend webkitTransitionEnd oTransitionEnd otransitionend MSTransitionEnd', 
          function() {
            window.location.href='/offer';
          });
  })
</script>
<script src="//code.angularjs.org/X.Y.Z/angular-animate.js"></script>