<div ng-show="offer1current" class="swell" id="offerPage1">
  <div class="row-fluid">
    <form data-toggle="validator" role="form" id="offer1form" name="offer1form">
      <h1 class="text-center">Step 1 of 3</h1>
      <div class="year form-group">
        <h3>What year is your car?</h3>
        <select ng-change="updateTrims()" class="form-control" name="year" ng-model="offer.year" required>
          <option value="" selected="selected">Select a year</option>
          <option value="{{year}}" ng-repeat="year in years">{{year}}</option>
        </select>
      </div>
      <div class="trim form-group">
        <h3>What trim is your car?</h3>
        <select ng-change="updateColors()" class="form-control" name="trim" ng-model="offer.trim" required>
          <option value="" selected="selected">Select a trim</option>
          <option value="{{trim}}" ng-repeat="trim in trims">{{trim}}</option>
        </select>
      </div>
      <div class="color form-group">
        <h3>What paint color?</h3>
        <select ng-change="pickColor()" class="form-control" name="color" ng-model="offer.color" required ng-style="{'background-color': colors[offer.color].hex}">
          <option value="" selected="selected">Select a color</option>
          <option value="{{$index}}" ng-repeat="color in colors track by $index">{{color.name}}</option>
        </select>
      </div>
      <div class="pushToStart form-group" ng-show="offer.possiblePTS">
        <h3>Do you have push to start?</h3>
        <select class="form-control" name="pushToStart" ng-model="offer.pushToStart">
          <option value="" selected="selected">Select yes or no</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </form>
    <div class="upload form-group">
      <div class="container nopadding">
        <form  ng-controller="UploadCtrl as up" name="up.upload_form">
          <h3>Want to show a photo?</h3>
          <div class="zone" ngf-drop ng-model="up.file">
            <div class="row">
              <div class="col-md-6">
                <div class="selectFile">
                  <label for="file">Select file</label>
                  <p>{{up.progress}}</p>                 
                  <input 
                    type="file" 
                    ngf-select 
                    ng-model="up.file" 
                    name="file" 
                    ngf-pattern="'image/*'"
                    accept="image/*" 
                    ngf-max-size="10MB" 
                    id="file"
                    />
                </div>
              </div>
              <div class="col-md-6 dropArea">
                <img style="width:180px; margin: 10px 0;" ng-show="up.file" ngf-thumbnail="up.file"/>
                <i ng-hide="up.file" class="fa fa-cloud-upload"></i>
                <i ng-show="up.upload_form.file.$error.required">*required</i>
                <p ng-hide="up.file">Drag and drop your file here</p>
                <p ng-hide="up.file">File size limit : 10 MB</p>
              </div>
            </div>
          </div>
          <br>
          <button class="btn btn-default btn-lg" type="submit" ng-click="up.submit()">submit</button>
        </form>
      </div>
      <br>
      <button type="submit" form="offer1form" class="btn btn-default btn-lg" ng-click="nextOfferPage()">Next</button>
    </div>
  </div>
</div>
<script>
  $(document).bind('dragover', function (e) {
    var dropZone = $('.zone'),
        timeout = window.dropZoneTimeout;
    if (!timeout) {
        dropZone.addClass('in');
    } else {
        clearTimeout(timeout);
    }
    var found = false,
        node = e.target;
    do {
        if (node === dropZone[0]) {
            found = true;
            break;
        }
        node = node.parentNode;
    } while (node != null);
    if (found) {
        dropZone.addClass('hover');
    } else {
        dropZone.removeClass('hover');
    }
    window.dropZoneTimeout = setTimeout(function () {
        window.dropZoneTimeout = null;
        dropZone.removeClass('in hover');
    }, 100);
  });
</script>