<link rel="stylesheet" href="css/offer.css">
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <br>
    <br>
    <section data-open="true" class="bl-expand">
      <h1>List your trunk in our database, and get notified when there is a match.</h1>

      <div class="offer_page" id="offer_page1" ng-include="'partials/offer_1.html'">
      </div>
      <div class="offer_page" id="offer_page2" ng-include="'partials/offer_2.html'">
      </div>
      <div class="offer_page" id="offer_page3" ng-include="'partials/offer_3.html'">
      </div>
    </div>
  </section>
  </div>
</div>


<!-- <div id="bl-main" class="bl-main">
  <section>
    <div class="bl-box" id="offerBtn">
      <h2></h2>
      <h2>
      <img src="images/offer.svg" style="width: 150px; height: auto;"/>
      Offer Trunk
      </h2>
      List your trunk in our database, and get notified when there is a match.
    </div>
    <div class="bl-content">
      <div class="offer_page" id="offer_page1" ng-include="'partials/offer_1.html'">
      </div>
      <div class="offer_page" id="offer_page2" ng-include="'partials/offer_2.html'">
      </div>
      <div class="offer_page" id="offer_page3" ng-include="'partials/offer_3.html'">
      </div>
      <span class="bl-icon bl-icon-close" id="closeOfferBtn"></span>
    </div>
  </section>
  <section id="bl-work-section">
    <div class="bl-box" id="searchBtn">
      <h2></h2>
      <h2>
      <img src="images/search.svg" style="width: 100px; height: auto;"/>
      Search Trunks
      </h2>
      <p>Search our collection of listings to find the trunk you want.</p>
    </div>
    <div class="bl-content">
      <div class="search_page" id="search" ng-include="'partials/search.html'">
      </div>
      <p>kolbey pruitt</p>
      <span class="bl-icon bl-icon-close" id="closeSearchBtn"></span>
    </div>
  </section>
  <section id="bl-work-section">
    <div class="bl-box" id="helpBtn">
      <h2></h2>
      <h2>
      <img src="images/help.svg" style="width: 90px; height: auto;"/>
      How it works
      </h2>
      <p>Need some help getting started?</p>
    </div>
    <div class="bl-content">
      <p>This is where all the "helpful" words will be written. :)</p>
      <div class="help_page" id="search" ng-include="'partials/help.html'">
      </div>
      <span class="bl-icon bl-icon-close" id="closeHelpBtn"></span>
    </div>
  </section>
  <section id="bl-work-section">
    <div class="bl-box" id="dashBtn">
      <h2></h2>
      <h2>
      <img src="images/dashboard.svg" style="width: 180px; height: auto; margin-left: -20px;"/>
      Dashboard
      </h2>
      <p>View your personal dashboard.</p>
    </div>
    <div class="bl-content">
      <div class="dash_page" id="search" ng-include="'partials/dash.html'">
      </div>
      <span class="bl-icon bl-icon-close" id="closeDashBtn"></span>
    </div>
  </section>
</div>
<script src="/vendor/boxlayout.js"></script>
<script>
$(function() {
  Boxlayout.init();
});
</script> -->